/// for bit framework , buscar variables para margenes, estudiar childs, fallback no-flexbox, al final es vertical rhrytym
.bit-wrapper {
    padding: 0 2rem;
}

.bit-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3rem;
    height:auto;
    width: 100%;
     
    //z-index: -1;
    .bit-row:last-child {
        margin-bottom: 0;
    }
}

.bit-column {
    margin-bottom: 1.5rem;
}

.bit-column-1-2 {
    width: 48%;
}

.bit-column-1-3 {
    width: 30%;
}

.bit-column-2-3 {
    width: 65%;
}

.bit-column-1-4 {
    width: 23%;
}

.bit-column-3-4 {
    width: 73%;
}

.bit-column-1-5 {
    width: 18%;
}

.bit-column-1-6 {
    width: 14%;
}

.bit-column-full {
    width: 100%;
    flex: 1 100%;
}

@media only screen and (max-width: 800px) {
    .bit-full-at-800 {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .bit-1-2-at-800 {
        width: 48%;
    }
}

@media only screen and (max-width: 550px) {
    .bit-full-at-550 {
        width: 100%;
    }
}