.button.hollow {
    //overwrite foundation one more time
    background-color: white;
    //transition: ease-out 0.3s;
    &:hover,
    &:focus {
        background-color: $lighter-gray;
        color: none;
        //padding: 0.9em;
        .icon {
            font-size: 2rem;
        }
    }
}