.avis-callout {
    z-index: -1!important;
    padding: 0.5rem;
    margin-bottom: 2rem;
    p {
        font-size: 1.2rem;
        display: inline; //disable p tag wp autop
        padding: 0;
    }
    .icon {
        color: $dark-gray;
        font-size: 1.3rem;
    }

    
}

.clean {
    border:0;
    padding:0;

}

.clean i {
    display: none;
}