    .card {
        font-size: 0.85rem;
        border: 1px solid $light-gray;
        background-color: white;
        .button {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .icon {
            float: right;
            margin-top: - 5px;
        }
    }
    
    .card-header {
        font-size: 1.2rem;
        font-weight: bold;
        a {
            color: $black;
        }
    }
    
    .card-thumbnail {
        min-height: 200px;
        background-color: $lighter-gray;
    }
    
    .card-header {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .card-header__date {
        font-size: 1rem;
    }
    
    .card-section {
        padding: 1rem;
    }
    
    .card-loop {
        max-width: 30%;
    }
    
    .card-primary {
        border: $primary 1px solid;
    }
    
    /// Pill Card , custom elbit.cat ///
    .bit-pill-card {
        border: 1px solid $light-gray;
        //display: flex;
        flex-wrap: wrap;
        border-radius: 0.2rem;
        margin-bottom: 1.5rem;
        background-color: white;
        transition: 0.2s ease-in;
        &:hover,
        &:focus {
            //opacity: 0.7;
            background: $lighter-gray;
        }

        .img_fullH img{
            //max-height: 250px;
        }
    }
    
    .bit-pill-card_thumbnail {
        flex: 1;
        //max-height: 100px;
    }

    .bit-pill-card_thumbnail img {
        //max-height: 50px;
    }

    .bit-pill-excerpt {
        max-height: 40px;overflow:hidden
    }
    
    .bit-pill-card_thumbnail--big {
        flex: 2;
        max-height: 200px;
        overflow: hidden;
        display:inline-block
    }
    
    .bit-pill-card-content {
        font-size: 0.9rem;
        padding: 1rem 1rem;
        flex: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        p {
            //target wp-excerpt
            line-height: 1.4;
            margin-bottom: 0;
        }
    }
    
    .bit-pill-card-content_big {
        font-size: 0.9rem;
        display: block;
        padding: 1rem 1.5rem;
        
    }
    
    .bit-pill-card-title {
        font-size: 1rem;
        color: $gray;
        line-height: 1.2;
        font-weight: bold;
    }
    
    .bit-pill-card_subheader {
        color: $medium-gray;
        margin-left: 0.5rem;
    }
    
    .bit-pill-card-button {
        font-size: 1.2rem;
        color: $dark-gray;
        // position: absolute;
        // right: 5%;
        // top: 20%;
    }
    
    .bit-pill-card_footer {
        flex: 1 100%;
        background-color: $lighter-gray;
        font-size: 0.8rem;
        font-weight: bold;
        padding: 0.5rem;
    }
    
    .bit-pill-card_footer-date {
        float: right;
    }
    
    .bit-pill-card-full {
        .bit-pill-card-button {
            font-size: 2rem;
        }
        .bit-pill-card-title {
            font-size: 1.5rem;
            @media only screen and (max-width: 800px) {
                font-size: 1.2rem;
            }
        }
    }