.card-header {

	font-size: 1.5rem;
}


.card-thumbnail {

	min-height: 150px;
	background-color: silver;
}


.card-loop {

	max-width: 30%;
}


.card-primary {

	border: $primary 1px solid;
}

















