.contact-hub{


	max-width: 1200px!important;
	//margin: 0 auto;
	//margin-bottom: 1rem;

	.button {
		font-size: 1.1rem;
	}
}


.whatsapp {
	background-color: $whatsapp
	;

}

.addentra {

	background-color: $secondary;
}

.phone {

	background-color: lighten($primary, 5%);
}











