.contact-hub {

    transition: .5s;
    transition-property: opacity;
    
    @media only screen and (max-width: 800px) {
        margin-bottom: 1.5rem;
    }
}

.sticky-wrapper-contact-hub {
    height: auto!important; //overwrite sticky.js mal calculo
}

//ACCTIONS NOW!
.contact-hub-is-sticky {
   .contact-hub {
        padding-top: 5px;
        box-sizing: border-box;
        left:0;
        padding-left: 1rem!important;
        max-width: 600px;
        display: inline-block;
        margin-top: 5px!important;
        
       @media only screen and (max-width: 1100px) {
            max-width: 100%!important;
            //border: 1px solid red;

            .button {
                margin-right: 0;
               
            }

        }
       

        .button {
            font-size:0.9rem;
            padding: 0.2rem 0.3rem;
            margin-right: 1rem;
            border-radius: 0;
            max-width: none;
            width: auto;
            //margin-right: 1rem;
            
            @media only screen and (max-width: 1100px) {
                font-size:0.8rem;

            } 
            @media only screen and (max-width: 900px) {
                font-size:0.7rem;

            }
            @media only screen and (max-width: 900px) {
                padding: 0.3rem 0.5rem;
                margin-right: 0.8rem;
                font-size: 0;
            }

            @media only screen and (max-width: 660px) {
                width: 23.5%;
                margin-right: 0rem;
                font-size: 0rem;
            }
            
        }

        .mobile-copy {
            display: none;
        }
    }
    .top-bar-time {
        display: none;
        }
}

// BUTTONS
.contact-hub {
    .button {
        font-size: 1rem;
        font-weight: bold;
        max-width: 24%;
        margin-bottom: 0;
        @media only screen and (max-width: 800px) {
            font-size: 0.9rem;
        }
        @media only screen and (max-width: 650px) {
            font-size: 0;
            padding: 0.5rem;
            i {
                font-size: 1.5rem;
            }
        }
    }

    .mobile-copy {
        display:none;
        font-size:0.8rem;
        @media only screen and (max-width: 650px) { 
            display:block;
            margin-top:5px;
        }
    }
    .icon {
        font-size: 1.3rem;
    }
}

.whatsapp {
    background-color: $whatsapp;
    &:hover,
    &:focus {
        background-color: darken($whatsapp, 5%);
    }
}

.addentra {
    background-color: darken($secondary, 5%);
    &:hover,
    &:focus {
        background-color: darken($secondary, 10%);
    }
}

.phone {
    background-color: darken($primary, 8%);
    &:hover,
    &:focus {
        background-color: darken($primary, 15%);
    }
}