/**
 * partials/footer
 * ---
 */

.site-footer {
    border-top: 2px solid $black;
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding-top: 2rem;
    font-size: 14px;
    //background-color: white;
    //justify-content: start;
    a {
        color: $black;
        &:hover {
            color: $primary;
        }
    }
}

.copyright {
    display: block;
    width: 100%;
}