    .intro {
        //z-index: 1;
        //font-size: 1rem;
        .button {
            font-size: 1rem;
            margin-bottom: 0;
        }
        .icon {
            font-size: 2rem;
        }
    }
    
    .intro-header {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }
    
    .intro-subheader {
        margin-top: -0.5rem;
        margin-bottom: 2rem;
    }
    
    .intro-media-buttons {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }