.format-video {
    .bit-pill-card_thumbnail--big {
        display: none;
    }
    .bit-pill-card-content {
        //flex-direction: row;
        padding: 1px;
        //max-height: 40px;
        //max-height: 200px;
    }
    .bit-pill-card-title {
        //display: none;
        // flex: 1 100%;
        // width: 100%;
        padding: 0.5rem;
    }

    .bit-pill-excerpt {
        max-height: 100%;
    }
    
}