.proveidors {
    a {
        //min-width: 10%;
        //margin-right: 5%;
    }
    img {
        max-width: 100%;
    }
}

.proveidors {
    margin-bottom:0
}
.proveidors a {
   
       width: 12.5%;
       padding-right: 10px;
       //border: 1px red solid;
       text-align: center;
       margin-bottom: 1rem;
}

.proveidors img {
    max-height: 60px;
   // border: 1px greenyellow solid;
   
}

@media print, screen and (max-width: 450px) {
    
    .proveidors {
        justify-content:space-around;
       
    }
    .proveidors a  {
        width:20%;
        padding-right:5px;
        display:inline-block;
       
    } 
    
    .proveidors img {
    max-height: 60px;
    max-width: 65px;
    }
}

@media print, screen and (min-width:451px) and (max-width: 800px) {
    .proveidors {
        justify-content:space-around;
    }
    
    
    .proveidors a  {
        width: 14.28%;
    } 
    .proveidors img {
    
    }
}