.page-single {
    //p {font-size: 1.5rem!important;}
    max-width: 700px;
    article {
        max-width: 100%;
    }
    header {
        margin-bottom: 2rem;
    }
    .attachment-post-thumbnail {
        margin-bottom: 1rem;
    }
}