.social-hub {
    font-size: 2rem;
    ul {
        list-style: none;
        align-items: center;
        justify-content: space-between;
        li {
            width: 16%;
            img,
            svg,
            i {
                //max-height: 20px;
            }
        }
    }
}