.testimonial-quote {
    //border: 1px solid $light-gray;
    //padding: 0.5rem;
    //padding-left: 1rem!important;
    //border-radius: 1rem;
    //box-shadow: $light-gray 1px 1px 3px;
    //display: inline-block!important;
}