.sticky-wrapper-top-bar {
    height: auto !important; //overwritte stycky.js bad calculo
}

//NOT STiCKY
.top-bar {
    padding: 1rem 0;
    border-bottom: $light-gray 1px solid;
    margin-bottom: $size2; //overwreite bit-row 3rem
    position: relative;
    transition: .5s;
    transition-property: opacity;
    
    @media only screen and (max-width: 1200px) {}

    @media only screen and (max-width: 800px) {
        margin-bottom: 1.5rem;
    }

    a {
        color: $gray;
        font-size: 1.1rem;
        font-weight: 600;

        &:hover,
        &:focus {
            color: $black;
            text-decoration: underline;
        }
    }
}

.top-bar-xxss {
    position: absolute;
    right: 5px;
    top: 1rem;
    display:flex;
    
    //width: 1000px;;
}

.top-bar-time {
    margin-top:-30px; 
    //padding-right:5px;
    //font-family:sans-serif!important; 
    display:block;
    width:100%; 
    padding-bottom:1rem; 

}

.top-bar-time-2 {
    //margin-top:-30px; 
    //padding-right:5px;
    //font-family:sans-serif!important; 
    display:block;
    width:100%; 
    //padding-bottom:1rem; 

}

@media only screen and (max-width: 660px) {
    
    .top-bar-xxss {
        flex-direction:column;
        right: 5px;
        top:2px;
        align-items: flex-end;

    }
    .bit-icon-list { width: 100px; }
}



.top-bar-right {
    margin-top: 35px;

    @media only screen and (max-width: 900px) {
        padding: 0;
        a {
            font-size: 1rem;
        }
    }

    @media only screen and (max-width: 650px) {
        margin-top: 1rem;
    }
}

.top-bar-left {
    padding-left: 1rem;
    
    @media only screen and (max-width: 900px) {
        .logo-img {
            max-width: 220px;
            padding-left: 0rem;
            
        }
    }
}

//STiCKY///
//////////
.top-bar-is-sticky {

    .top-bar {
        display: flex;
        padding: 0.5rem 0;
        border-bottom: lighten(silver, 20%) 1px solid;
        justify-content: flex-end;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.38);
        max-width: 100%; //no calcula bien sticky.js

        @media only screen and (max-width: 660px) {
            height: 45px;
        }
    }

    .top-bar-xxss {
        margin-top: -30px; // bug conflict there is an app.css foundation
        position: relative;
        max-width: 500px;
        //padding-right: 0.5rem;
        //border: 1px solid pink;
        border-right: solid 1px gray;
        //background-color: red;


        @media only screen and (max-width: 700px) {
            font-size: 0.8rem
        }

        @media only screen and (max-width: 660px) {
            display: none;

        }
    }

    

    .top-bar-right {
        margin-top: 0;
        float: right;
        margin-left: 0.5rem;

        @media only screen and (max-width: 1000px) {

            //display:none;
            &:hover {
                display: block;
            }
        }

        @media only screen and (max-width: 660px) {
            display: none;

        }

    }

    .top-bar-left {
        display: none;
    }

    .bit-menu {
        //border: red 1px solid;
        max-width: 450px;

        li {
            padding: 0 0.5rem;
        }

        a {
            font-size: 1rem;
        }

        @media only screen and (max-width: 1000px) {
            a {
                font-size: 0.9rem;
            }
        }


    }
}

// BIT MENU  not in is-sticky!///
/////////////////////////////////
.bit-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 0;

    right: 0;
    transition: .5s;
    transition-property: opacity;


    @media only screen and (max-width: 800px) {
        a {
            font-size: 1rem;
        }
       
    }

    @media only screen and (max-width: 550px) {
        a {
            font-size: 1.1rem;
            padding: 0 0.2rem;
        }
    }
    @media only screen and (max-width: 450px) {
        a {
            font-size: 1rem;
            
        }
    }
    @media only screen and (max-width: 450px) {
        a {
            font-size: 0.9rem;
           
        }
    }

    li {
        padding: 0 0.8rem;
        word-wrap: wrap;

        @media only screen and (max-width: 500px) {
            padding: 0;
        }
    }
}