/**
 * partials/utils
 * ---
 * Utils classes
 */

.bit-u-bg-secondary {
    background-color: lighten($secondary, 30%);
}

.bit-u-mb1 {
    margin-bottom: 1rem;
}

.bit-u-mb2 {
    margin-bottom: 2rem;
}

.bit-u-mb3 {
    margin-top: 3rem;
}

.bit-u-mt1 {
    margin-top: 1rem;
}

.bit-u-mt2 {
    margin-top: 2rem;
}

.bit-u-mt3 {
    margin-top: 3rem;
}



.bit-u-va-middle {
    position: absolute;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
}

.bit-u-va-middle-r {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: perspective(1px) translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
}

.bit-u-fsz-2 {
    font-size: 1.5rem;
}
.bit-u-fsz-1 {
    font-size: 1rem;
}

.bit-u-t-center {
    text-align: center;
}

.bit-u-bold {
    font-weight: bold;
}

.bit-u-c-black {
    color: $black;
}

.bit-u-c-gray {
    color: $gray;
}

.bit-u-c-facebook {
    color: #3b5998;
}

.bit-u-c-twitter {
    color: #00aced;
}

.bit-u-c-youtube {
    color: #bb0000;
}

.bit-u-flex-acenter {
    align-items: center;
}

.bit-u-flex-jc-start {
    justify-content: flex-start;
}

.bit-u-flex-jc-center {
    justify-content: space-between;
}

.bit-u-block {
    display: block;
}

@media only screen and (max-width: 800px) {
    .bit-u-1-5rem-at-800 {
        font-size: 1.5rem;
    }
}