// ***** compare to foundation settings! dont use foundation and frameworks anymore 

// * {

//     font-family: 'Raleway', sans-serif;
// }

h1,h2,h3,h4,h5,h6,p,a,ul,small,strong,button,i,em,blockquote,span {
    font-family: 'Raleway', sans-serif;
}

.open-sans {
    font-family:'Open Sans', sans-serif;
}


.text-v-center {
    vertical-align: middle;
}



// IFRAME////
////////////

// iframe {
//     max-width: 100%;
// }
// .iframe-wrapper {
    
//     display: block;
//     text-align: center;
// }

// .iframe-wrapper-center {
//     margin: 0 auto;
// }


// .videoWrapper {
// 	position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	padding-top: 25px;
// 	height: 0;
// }
// .videoWrapper iframe {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }



// IMG//////
///////////


img {
    max-width: 100%;
}
a img {
    &:hover {
        opacity: 0.8;
    }
}




//HEADINGS
h1 {
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: 2.5rem!important;
}
h2 {
    font-size: 2rem!important;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
   
    @media print, screen and (max-width: 550px) {
         font-size: 1.5rem;
    }
   
   
}

h4 {
    font-weight: bold;
    @media only screen and (max-width: 550px) {
        font-size: 1.5rem ;
    }

}


h1, h2, h3, h4 {
    small {
        font-size: 1rem;
        display: inline-block;
        line-height: 1.2;
    }
}
.subheader {
    margin-bottom: 1rem;
}



// Blockquote
blockquote {
    border: none;
    position: relative;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 0; //override foundation
    &::before {
        content: "\201C";
        font-size: 4rem;
        position: absolute;
        top: -1rem;
        left: -0.5rem;
    }
    &::after {
        content: "\201D";
        font-size: 4rem;
        position: absolute;
        bottom: -1rem;
        right: 0;
    }
}



// Overwrite FOUNDATION GRID, I'm using it ?
.row>.column {
    margin-left: 0;
    padding-left: 0;
}
.column>.column {
    margin-left: 0;
    padding-left: 0;
}
.column>.row {
    margin-left: 0;
}