/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
}




  $primary: #009EE4;
  $secondary: #44C8A9;
  $success: #3adb76;
  $warning: #ffae00;
  $alert: #cc4b37;
  $light-gray: lighten(#333,55%);
  $medium-gray:lighten(#333,35%);
  $dark-gray:lighten(#333,15%);
  $black: #333;
  $white: #fefefe;

  $whatsapp:#25d366;
  

