/**
 * modules/variables
 * ---
 */


/**
 * Colors // copied from Foundation / this is bad / Foundation is BAD
 */

$primary: #009EE4;
$secondary: #44C8A9;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;
$soft-gray:lighten(#333, 79%);
$lighter-gray: lighten(#333, 75%);
$light-gray: lighten(#333, 55%);
$medium-gray:lighten(#333, 35%);
$dark-gray:lighten(#333, 15%);
$gray:lighten(#333, 10%);
$black: #333;
$white: #fefefe;
$whatsapp:#25d367;


$body-font-family:  'Raleway', sans-serif;

///SIZES / for vertical rythim and grid / foundation on top to review

$width:1300; // 100%
$interval: 1.333; //golden
$unit: rem;

$size0: 1;
            
$size-1:  $size0 / $interval; 
$size-2:  $size-1 / $interval;  
$size1:   $size0 * $interval; 
$size2:   $size1 * $interval;
$size3:   $size2 * $interval;
$size4:   $size3 * $interval;  
$size5:   $size4 * $interval; 



$gut:(($size5 * 1000 ) / $width ) + 0%; 












