/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */

 @mixin reset-box {
  padding: 0;
  margin: 0;
}

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

.sticky {}

.bypostauthor {}

/**
 * Alignment
 */

.alignnone {
  margin: $margin-vertical-base $margin-horizontal-large $margin-vertical-large 0;
}

.aligncenter {
  display: block;
  margin: $margin-vertical-base auto;
}

.alignright {
  float: right;
  margin: $margin-vertical-base 0 $margin-vertical-large $margin-horizontal-large;
}

.alignleft {
  float: left;
  margin: $margin-vertical-base $margin-horizontal-large $margin-vertical-large 0;
}


/**
 * Gallery & images
 */

.wp-caption {
  background: white;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: $padding-horizontal-base $padding-vertical-base;
  text-align: center;

  & img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;

    @include reset-box;
  }
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 $padding-horizontal-base $padding-vertical-base;
  font-size: 1rem;
  line-height: 1.5;
}
