<ul class="bit-icon-list">
    {% for item in prop %}
    <li  class="bit-icon-list-item" style="color:{{color}};">
        <a href="{{item.url}}" title="{{item.title}}">
            <i class="icon {{item.icon}}" style="font-size:{{item.size}}"></i>
        </a>
       
    </li>
    {% endfor %}
</ul>
<style>
.bit-icon-list {
    list-style:none;
    display:flex;
    justify-content: end;
    margin:0;
}

.bit-icon-list-item {
    padding: 0.2rem 0.5rem;
}

@media only screen and (max-width: 1000px) {
    .bit-icon-list-item {
        padding: 0.5rem 0.5rem;
        }
} 

</style>