<h3 class="bit-row strong-divider" >Promociones:</h3>
<div class="bit-row" style="">

{% for post in promo_posts %}
    <div class="bit-pill-card bit-column bit-column-1-2">
    <a href="{{post.link}}" class="">
        <img src="{{post.thumbnail.src}}" alt="">
        <h6 class="bit-u-mt1" style=" padding:1rem;color:#333">{{post.title}}</h6>
    </a>
    </div>
{% endfor %}

</div>