{% set xxss = {
    instagram:  { title: "Instagram", icon: "ion-social-instagram",size:"1.3rem",url:"https://www.instagram.com/clinicadentalbasi/" },
    facebook: { title: "Facebook", icon: "ion-social-facebook",size:"1.3rem",url:"https://www.facebook.com/people/Cl%C3%ADnica-Dental-Basi/61559997999223/" },
    youtube:    { title: "Youtube", icon: "ion-social-youtube", size:"1.3rem", url:"https://www.youtube.com/c/ClinicadentalbasiEs" },
 } %}

{% include "iconslist.twig" with {prop:xxss} %}

