/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Colors // copied from Foundation / this is bad / Foundation is BAD
 */
.icon {
  font-size: 1.5rem; }

iframe {
  max-width: 100%; }

.iframe-wrapper {
  display: block;
  text-align: center; }

.iframe-wrapper-center {
  margin: 0 auto; }

img {
  max-width: 100%; }

a img:hover {
  opacity: 0.8; }

h1 {
  margin-bottom: 2rem;
  margin-top: 0; }

h2 {
  margin-bottom: 1.5rem;
  margin-top: 1rem; }

h1 small, h2 small, h3 small, h4 small {
  font-size: 1rem;
  display: inline-block;
  line-height: 1.2; }

.subheader {
  margin-bottom: 1rem; }

blockquote {
  border: none;
  position: relative;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 0; }
  blockquote::before {
    content: "\201C";
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: -3rem;
    left: -1rem; }
  blockquote::after {
    content: "\201D";
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -3.5rem;
    right: 0; }

.row > .column {
  margin-left: 0;
  padding-left: 0; }

.column > .column {
  margin-left: 0;
  padding-left: 0; }

.column > .row {
  margin-left: 0; }

.bit-wrapper {
  padding: 0 2.61792rem; }

.bit-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 2.61792rem;
  height: auto;
  width: 100%; }

.bit-column {
  margin-bottom: 1.618rem; }

.bit-column-1-2 {
  width: 47.98621%; }

.bit-column-1-3 {
  width: 31.28621%; }

.bit-column-2-3 {
  width: 64.88621%; }

.bit-column-1-4 {
  width: 22.98621%; }

.bit-column-3-4 {
  width: 72.98621%; }

.bit-column-1-5 {
  width: 17.98621%; }

.bit-column-1-6 {
  width: 14.64621%; }

.bit-column-full {
  width: 100%;
  flex: 1 100%; }

@media only screen and (max-width: 800px) {
  .bit-full-at-800 {
    width: 100%; } }

@media only screen and (max-width: 800px) {
  .bit-1-2-at-800 {
    width: 47.98621%; } }

@media only screen and (max-width: 550px) {
  .bit-full-at-550 {
    width: 100%; } }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: white;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 1rem;
  line-height: 1.5; }

.button.hollow {
  background-color: white; }
  .button.hollow:hover, .button.hollow:focus {
    background-color: #f2f2f2;
    color: none; }
    .button.hollow:hover .icon, .button.hollow:focus .icon {
      font-size: 2rem; }

.card {
  font-size: 0.85rem;
  border: 1px solid #bfbfbf;
  background-color: white; }
  .card .button {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .card .icon {
    float: right;
    margin-top: -5px; }

.card-header {
  font-size: 1.2rem;
  font-weight: bold; }
  .card-header a {
    color: #333; }

.card-thumbnail {
  min-height: 200px;
  background-color: #f2f2f2; }

.card-header {
  margin-top: 0.5rem;
  margin-bottom: 1rem; }

.card-header__date {
  font-size: 1rem; }

.card-section {
  padding: 1rem; }

.card-loop {
  max-width: 30%; }

.card-primary {
  border: #009EE4 1px solid; }

.bit-pill-card {
  border: 1px solid #bfbfbf;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  margin-bottom: 1.5rem;
  background-color: white;
  transition: 0.2s ease-in; }
  .bit-pill-card:hover, .bit-pill-card:focus {
    background: #f2f2f2; }

.bit-pill-card_thumbnail {
  flex: 1; }

.bit-pill-card_thumbnail--big {
  flex: 2; }

.bit-pill-card-content {
  font-size: 0.8rem;
  padding: 1rem 1rem;
  flex: 3;
  position: relative;
  display: flex;
  flex-direction: column; }
  .bit-pill-card-content p {
    line-height: 1.4;
    margin-bottom: 0; }

.bit-pill-card-content_big {
  font-size: 1rem;
  display: block;
  padding: 1rem 1.5rem; }

.bit-pill-card-title {
  font-size: 0.9rem;
  color: #4d4d4d;
  line-height: 1.2;
  font-weight: bold; }

.bit-pill-card_subheader {
  color: #8c8c8c;
  margin-left: 0.5rem; }

.bit-pill-card-button {
  font-size: 1.2rem;
  color: #595959; }

.bit-pill-card_footer {
  flex: 1 100%;
  background-color: #f2f2f2;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem; }

.bit-pill-card_footer-date {
  float: right; }

.bit-pill-card-full .bit-pill-card-button {
  font-size: 2rem; }

.bit-pill-card-full .bit-pill-card-title {
  font-size: 1.5rem; }
  @media only screen and (max-width: 800px) {
    .bit-pill-card-full .bit-pill-card-title {
      font-size: 1.2rem; } }

.contact-hub {
  transition: 0.2s; }
  @media only screen and (max-width: 800px) {
    .contact-hub {
      margin-bottom: 1.5rem; } }

.sticky-wrapper-contact-hub {
  height: auto !important; }

.contact-hub-is-sticky .contact-hub {
  max-width: 650px;
  padding-top: 1rem;
  margin-left: 15%; }
  .contact-hub-is-sticky .contact-hub .button {
    font-size: 0.9rem;
    padding: 0.3rem 0.4rem; }
    @media only screen and (max-width: 800px) {
      .contact-hub-is-sticky .contact-hub .button {
        padding: 0.2rem; } }
    @media only screen and (max-width: 475px) {
      .contact-hub-is-sticky .contact-hub .button {
        font-size: 0; } }
  @media only screen and (max-width: 1400px) {
    .contact-hub-is-sticky .contact-hub {
      background: white;
      margin-top: 3.3rem;
      max-width: none;
      margin-left: -2rem;
      border-bottom: solid 1px #bfbfbf;
      box-shadow: #bfbfbf 3px 2px 4px;
      padding: 0.5rem; } }
  @media only screen and (max-width: 800px) {
    .contact-hub-is-sticky .contact-hub {
      margin-top: 2.2rem; } }

.contact-hub .button {
  font-size: 1rem;
  font-weight: bold;
  max-width: 24%;
  margin-bottom: 0; }
  @media only screen and (max-width: 800px) {
    .contact-hub .button {
      font-size: 0.9rem; } }
  @media only screen and (max-width: 650px) {
    .contact-hub .button {
      font-size: 0;
      padding: 0.5rem; }
      .contact-hub .button i {
        font-size: 1.5rem; } }

.contact-hub .icon {
  font-size: 1.3rem; }

.whatsapp {
  background-color: #25d367; }
  .whatsapp:hover, .whatsapp:focus {
    background-color: #21bd5c; }

.addentra {
  background-color: #37bb9c; }
  .addentra:hover, .addentra:focus {
    background-color: #31a88c; }

.phone {
  background-color: #0082bb; }
  .phone:hover, .phone:focus {
    background-color: #006998; }

.avis-callout {
  z-index: -1 !important;
  padding: 0.5rem;
  margin-bottom: 2rem; }
  .avis-callout p {
    font-size: 1.2rem;
    display: inline;
    padding: 0; }
  .avis-callout .icon {
    color: #595959;
    font-size: 1.3rem; }

.icon {
  font-size: 1.1rem; }

.icon-medium {
  font-size: 2rem; }

.icon-large {
  font-size: 4rem; }

.strong-divider {
  border-bottom: 1px solid #333;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem; }

.social-hub {
  font-size: 2rem; }
  .social-hub ul {
    list-style: none;
    align-items: center;
    justify-content: space-between; }
    .social-hub ul li {
      width: 16%; }

.proveidors img {
  max-width: 100%; }

.format-video .bit-pill-card_thumbnail--big {
  display: none; }

.format-video .bit-pill-card-content {
  padding: 1px; }

.format-video .bit-pill-card-title {
  padding: 0.5rem; }

.item_title {
  font-weight: bold;
  text-align: center; }

.item_sub-title {
  text-align: center; }

[role=main] {
  margin-top: 1rem; }

/**
 * partials/sidebar
 * ---
 */
.row {
  margin-bottom: 1rem; }

.column .row {
  margin-bottom: 0; }

hr {
  margin-bottom: 1rem; }

section {
  margin-bottom: 2rem; }

/**
 * partials/footer
 * ---
 */
.site-footer {
  border-top: 2px solid #333;
  margin-bottom: 2rem;
  margin-top: 5rem;
  padding-top: 2rem; }
  .site-footer a {
    color: #333; }
    .site-footer a:hover {
      color: #009EE4; }

.copyright {
  display: block;
  width: 100%; }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/**
 * partials/header
 * ---
 */
.logo-img {
  max-width: 300px; }

.sticky-wrapper-top-bar {
  height: auto !important; }

.top-bar {
  padding: 1rem 0;
  border-bottom: #bfbfbf 1px solid;
  margin-bottom: 2.61792;
  transition: 0.2s; }
  @media only screen and (max-width: 1200px) {
    .top-bar {
      padding: 1rem 1rem; } }
  @media only screen and (max-width: 800px) {
    .top-bar {
      padding: 0.5rem 0.5rem;
      margin-bottom: 1.5rem; } }
  .top-bar a {
    color: #4d4d4d;
    font-size: 1.1rem;
    font-weight: 600; }
    .top-bar a:hover, .top-bar a:focus {
      color: #333;
      text-decoration: underline; }

.top-bar-right {
  margin-top: 35px; }
  @media only screen and (max-width: 900px) {
    .top-bar-right {
      margin-top: 0.5rem;
      padding: 0; }
      .top-bar-right a {
        font-size: 1rem; } }
  @media only screen and (max-width: 750px) {
    .top-bar-right {
      width: 100%; } }

@media only screen and (max-width: 900px) {
  .top-bar-left .logo-img {
    max-width: 200px; } }

.top-bar-is-sticky .top-bar {
  padding: 0.5rem 1rem;
  border-bottom: #f3f3f3 1px solid;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 2px -2px;
  max-width: 100%; }
  @media only screen and (max-width: 800px) {
    .top-bar-is-sticky .top-bar {
      padding-top: 0.5rem; }
      .top-bar-is-sticky .top-bar a {
        font-size: 1rem; } }

.top-bar-is-sticky .top-bar-right {
  margin-top: 0; }
  @media only screen and (max-width: 550px) {
    .top-bar-is-sticky .top-bar-right a {
      font-size: 0.8rem;
      padding: 0 0.2rem; }
    .top-bar-is-sticky .top-bar-right li {
      padding: 0; } }

@media only screen and (max-width: 800px) {
  .top-bar-is-sticky .top-bar-left {
    display: none; } }

.top-bar-is-sticky .logo-img {
  max-width: 200px; }

.bit-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 0;
  margin-bottom: 0; }
  @media only screen and (max-width: 800px) {
    .bit-menu a {
      font-size: 1rem; } }
  @media only screen and (max-width: 550px) {
    .bit-menu a {
      font-size: 0.8rem;
      padding: 0 0.2rem; } }
  .bit-menu li {
    padding: 0 1rem;
    word-wrap: wrap; }
    @media only screen and (max-width: 500px) {
      .bit-menu li {
        padding: 0; } }

/**
 * partials/nav
 * ---
 * Menus
 */
.intro .button {
  font-size: 1rem;
  margin-bottom: 0; }

.intro .icon {
  font-size: 2rem; }

.intro-header {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0; }

.intro-subheader {
  margin-top: -0.5rem;
  margin-bottom: 2rem; }

.intro-media-buttons {
  margin-top: 2rem;
  margin-bottom: 1rem; }

.page-h1 {
  border-bottom: 1px solid #333; }

.page-single {
  max-width: 700px; }
  .page-single article {
    max-width: 100%; }
  .page-single header {
    margin-bottom: 2rem; }
  .page-single .attachment-post-thumbnail {
    margin-bottom: 1rem; }

.item-equipo .thumbnail {
  min-height: 75%;
  width: 100%; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.bit-u-bg-secondary {
  background-color: #baebdf; }

.bit-u-mb1 {
  margin-bottom: 1rem; }

.bit-u-mb2 {
  margin-bottom: 2rem; }

.bit-u-mb3 {
  margin-bottom: 3rem; }

.bit-u-va-middle {
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  margin-top: 0;
  margin-bottom: 0; }

.bit-u-va-middle-r {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: perspective(1px) translateY(-50%);
  margin-top: 0;
  margin-bottom: 0; }

.bit-u-fsz-2 {
  font-size: 1.5rem; }

.bit-u-t-center {
  text-align: center; }

.bit-u-bold {
  font-weight: bold; }

.bit-u-c-black {
  color: #333; }

.bit-u-c-gray {
  color: #4d4d4d; }

.bit-u-c-facebook {
  color: #3b5998; }

.bit-u-c-twitter {
  color: #00aced; }

.bit-u-c-youtube {
  color: #bb0000; }

.bit-u-flex-acenter {
  align-items: center; }

.bit-u-flex-jc-start {
  justify-content: flex-start; }

.bit-u-flex-jc-center {
  justify-content: space-between; }

.bit-u-block {
  display: block; }

@media only screen and (max-width: 800px) {
  .bit-u-1-5rem-at-800 {
    font-size: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
